.btn{
    margin: 1rem;
    background-color: #b5acff;
}
body{
    background-color: rgb(0, 0, 0);
}

.navbar{
    background-color: #d1d8f5;
    margin: 0;
}

.location{
    color: #e35353;
    background-color: white;
    padding-bottom: 0.4rem;
}

.modal-content{
    background-color: #ffffff;
}

.modal-bodyMain{
    padding: 4rem;
    font-size: 5rem;
}

.title{
    padding: 3rem;
}

.mainTitle{
    text-align: center;
    color: #ada6ff;
    font-family: cursive;
}

#subBod{
    background-color: rgba(199, 199, 199, 0.8);
}

.eachArt{
    border-bottom: solid;
    border-color: #000000;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
}

.artBtn{
    float: right;
}

.artLink{
    font-size: 16px;
}

.modal-title{
    text-align: center;
}

#saveBod{
    background-color: rgba(255, 255, 255, 0.8);
}

#noteInput{
    height: 10rem;
    width: 40rem;
}

#savedNotes{
    margin-bottom: 4rem;
}

/*#inputForm{
    border-top: solid;
    border-color: #49fb35;
    padding-top: 1rem;
}*/

.notes{
    padding: 2rem;
    border-bottom: dashed;
    border-color: #49fb35;
}

.xBtn{
    float: right;
    margin: 0;
}
